[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework-simplejwt = "*"
djangorestframework = "*"
python-dotenv = "*"
requests = "*"
django-redis = "*"
redis = "*"
django-axes = "*"

[dev-packages]

[requires]
python_version = "3.12"
